.spaceBetweenNavBar {
    margin-top: '100px';
    align-items: center;
}

.centerItems {
    display: 'flex';  
    justify-content:'center'; 
    align-items:'center'; 
    height: '100vh';
    background-color: '#f8f1f1'
}