.backgroundColor {
    color : #725844;
    background-color:  #ffdf9c;
     
}

.imageBackGround {
    width: 400px;
    height: 300px;
}

.textAlign {
    text-align: center;
}

.textSpace {
    margin-bottom: 10px;
    margin-top: 10px;
}